.app-sidebar__user-avatar {
    width: 48px;
    background: gray;
    padding: 6px;
}
.app-sidebar__toggle{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15pt;
}
.app-sidebar__toggle::before{
	display: none;
}
.headerRegister{
	background: #009688; /* COLOR DE roles NUEVO*/
	color: #FFF;
}
.headerUpdate{
	background: #007bff; /* COLOR DE ACTUALIZAR ROLES */
	color: #FFF;
}
.notBlock{  /* linea para no mostrar las opciones de inactivo y activo en ROLES */
	display: none;
}